/******************************************
/* CSS
/*******************************************/

/* RESET /*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
*{
    font-family: 'Epilogue', sans-serif;
}

body{
    background: url()
}
a{
    text-decoration: none;
}

  main{
      margin: 10% 5%;
      padding-bottom: 5%;
      box-shadow: 1px 1px 1px 1px gray;
  }

  header{
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
     
      margin: 2% 0;
      padding-top: 3%;
      
      
  }

  .leftNav{
     
      display: flex;
   
      justify-content: space-between;
      width: 45%;
      padding-left: 0;
      
      
  }
  .leftNav ul{
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: auto;
      margin: auto;
      
  }

  .rightNav{
      display: flex;
      justify-content: space-around;
      width: 20%;
  }

  .rightNav .register{
      border: 1px solid black;
      height: 3em;
      width: 6em;
      margin-top: -5%;
      border-radius: 10px;
      background: white;
      
  }

  .register:hover{
      background: black;
      color: white;
  }
/* MAIN SECTION STYLES. COVERS OVER 50% OF PAGE */
  .main-3-sections{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 5%;
  }
/* IMAGE STYLE ON RIGHT SIDE */
  .rightImage > img{
      width: 60%;
      height: auto;
      margin-left: 25%;
  }
/* STYLES ON THE MAIN LEFT SIDE OF PAGE */
  .main{
      width: 45%;
      margin-left: 5%;
      /* border: 1px solid orange; */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  .main h1{
      font-size: 5.2rem;
      /* border: 1px solid black; */
      width: 120%;
      overflow: visible;
      margin-top: 20%;
  }

  .main p{
      font-size: 18px;
      color: gray;
     
      
     
  }

  .main button{
  
      background: black;
      color: white;
      width: 30%;
      height: 8%;
      border-radius: 15px;
      
  }
  .main button:hover{
      background: white;
      color: black;
  }

  .sponsors{
      display: flex;
      justify-content: space-around;
      
      
  }
  .sponsors img{
      width: 15%;
     
     margin: auto;
  }




/* hover mechanics for dropdown menu in .leftNav */

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}






  /* RESPONSIVE DESIGN STYLES */

@media screen and (max-width: 375px){



}